body {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/645/880/desktop-wallpaper-star-wars-space-backgrounds-death-star-black-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  